Ofimatic,LibreOffice,sudo pacman -S libreoffice-still
Ofimatic,OpenOffice,sudo pacman -S openoffice
Ofimatic,WPS,yaourt -S wps-office
Ofimatic,Calligra,sudo pacman -S calligra
Multimedia,VLC,sudo pacman -S vlc
Multimedia,Vokoscreen,yaourt -S vokoscreen
Multimedia,Audacity,sudo pacman -S audacity
Multimedia,OpenShot,sudo pacman -S openshot
Multimedia,Audacious,sudo pacman -S audacious
Multimedia,SMTube,sudo pacman -S smtube
Multimedia,moc (Music Player form Terminal),sudo pacman -S moc
Multimedia,Handbrake,sudo pacman -S handbrake
Multimedia,SoundJuicer,sudo pacman -S sound-juicer
Multimedia,Clipgrab,sudo pacman -S clipgrab
Multimedia,Mumble,sudo pacman -S mumble
Multimedia,KODI,sudo pacman -S kodi
Multimedia,SoundConverter (GTK),sudo pacman -S soundconverter
Multimedia,SoundKonverter (QT),pacman -S soundkonverter
Multimedia,Youtube-dl,sudo pacman -S youtube-dl
Multimedia,mpv,sudo pacman -S mpv
Multimedia,simplescreenrecorder,yaourt -S simplescreenrecorder
Multimedia,OBS Studio,pacman -S obs-studio
Multimedia,Totem,sudo pacman -S totem
Development,Geany,sudo pacman -S geany
Development,Sublime Text 2,yaourt -S sublime-text
Development,Sublime Text 3,yaourt -S sublime-text-dev
Development,Gedit,sudo pacman -S gedit
Development,Eclipse,sudo pacman -S eclipse
Development,Android Studio,yaourt -S android-studio
Development,QtCreator,sudo pacman -S qtcreator
Development,NinjaIDE,sudo pacman -S ninja-ide
Internet,Firefox,sudo pacman -S firefox
Internet,Google Chrome,yaourt -S google-chrome
Internet,Vivaldi,yaourt -S vivaldi
Internet,Telegram Desktop,Telegram
Internet,Filezilla,sudo pacman -S filezilla
Internet,Chromium,sudo pacman -S chromium
Internet,qBittorrent,sudo pacman -S qbittorrent
Internet,UGet,sudo pacman -S uget
Games,Steam,sudo pacman -S steam
Games,VisualBoyAdvance (Gameboy Advance),sudo pacman -S vbam-gtk
Games,Snes9x (Super Nintendo),sudo pacman -S snes9x-gtk
Games,Pcsxr (Play Station),sudo pacman -S pcsxr
Games,Pcsx2 (Play Station 2),sudo pacman -S pcsx2
Games,PPSSPP (PSP),sudo pacman -S ppsspp
Games,DeSmuME (Nintendo DS),sudo pacman -S desmume
Games,Stella (Atari),sudo pacman -S stella
Games,Fceux,sudo pacman -S fceux
Games,Yabause(GTK),sudo pacman -S yabause-gtk
Games,Yabause(QT),sudo pacman -S yabause-qt
DEs,XFCE,sudo pacman -S xfce4
DEs,Gnome-Shell,sudo pacman -S gnome-shell
DEs,LXDE,sudo pacman -S lxde
DEs,Plasma 5,sudo pacman -S plasma5
DEs,KDE,sudo pacman -S  kde4
WMs,Install i3-wm,sudo pacman -S i3-wm
WMs,Install Openbox,sudo pacman -S openbox
WMs,Install Fluxbox,sudo pacman -S fluxbox