<?xml version="1.0"?>
<menus>
    <menu>
        <name>main_menu</name>
        <title>Main Menu</title>
        <items>
            <item ismenu="True">
                <name>update_sys</name>
                <title>Update System</title>
                <option>1</option>
            </item>
            <item ismenu="True">
                <name>install_apps</name>
                <title>Install applications</title>
                <option>2</option>
            </item >
            <item ismenu="False">
                <name>apps_installed</name>
                <title>List applications installed (not functional yet)</title>
                <option>3</option>
                <commands sequentially="False">
                    <cmd>...</cmd>
                </commands>
            </item>
            <item ismenu="True">
                <name>uninstall_apps</name>
                <title>Uninstall applications (not functional yet)</title>
                <option>4</option>
            </item>
            <item ismenu="True">
                <name>des_wms</name>
                <title>Install DEs and WMs</title>
                <option>5</option>
            </item>
            <item ismenu="True">
                <name>personalization</name>
                <title>Personalization (not functional yet)</title>
                <option>6</option>
            </item>
            <item ismenu="False">
                <name>mpis_update</name>
                <title>Update script (not functional yet)</title>
                <option>7</option>
                <commands sequentially="False">
                    <cmd> </cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>help</name>
                <title>Help</title>
                <option>8</option>
                <commands sequentially="False">
                    <cmd>help</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>exit</name>
                <title>Exit</title>
                <option>9</option>
                <commands sequentially="False">
                    <cmd>exit</cmd>
                </commands>
            </item>
        </items>
    </menu>
    <menu>
        <name>update_sys</name>
        <title>Update System</title>
        <items>
            <item ismenu="False">
                <name>keys</name>
                <title>Refresh Mirrors and Keys</title>
                <option>1</option>
                <commands sequentially="True">
                    <cmd>sudo pacman -S archlinux-keyring manjaro-keyring</cmd>
                    <cmd>sudo pacman-keys --init</cmd>
                    <cmd>sudo pacman-keys --populate archlinux manjaro</cmd>
                    <cmd>sudo pacman-mirrors -g</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>pacman_repo_update</name>
                <title>Pacman repositories update</title>
                <option>2</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -Syy</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>aur_update</name>
                <title>AUR repositories update</title>
                <option>3</option>
                <commands sequentially="False">
                    <cmd>yaourt -Syy</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>update_all</name>
                <title>Update all system</title>
                <option>4</option>
                <commands sequentially="False">
                    <cmd>sudo rm -f /var/lib/pacman/db.lck</cmd>
                    <cmd>sudo pacman -Syyuu</cmd>
                    <cmd>sudo pacman -Suu</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>update_sys_mir</name>
                <title>Update all system and refresh mirrors</title>
                <option>5</option>
                <commands sequentially="False">
                    <cmd>sudo rm -f /var/lib/pacman/db.lck</cmd>
                    <cmd>sudo pacman-mirrors -g</cmd>
                    <cmd>sudo pacman -Syyuu</cmd>
                    <cmd>sudo pacman -Suu</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>clr_cache_orphan</name>
                <title>Clear cache and orphan packages</title>
                <option>6</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -Sc</cmd>
                    <cmd>sudo pacman -Scc</cmd>
                    <cmd>sudo pacman -Rsn</cmd>
                    <cmd>yaourt -Rsn</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>see_mirrorlist</name>
                <title>See the content of mirrorlist file</title>
                <option>7</option>
                <commands sequentially="False">
                    <cmd>SeeMirrorList</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>back</name>
                <title>Back</title>
                <option>8</option>
                <commands sequentially="False">
                    <cmd>back</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>exit</name>
                <title>Exit</title>
                <option>9</option>
                <commands sequentially="False">
                    <cmd>exit</cmd>
                </commands>
            </item>
        </items>
    </menu>
    <menu>
        <name>install_apps</name>
        <title>Install applications</title>
        <items>
            <item ismenu="True">
                <name>office</name>
                <title>Office</title>
                <option>1</option>
            </item>
            <item ismenu="True">
                <name>multimedia</name>
                <title>Multimedia</title>
                <option>2</option>
            </item>
            <item ismenu="True">
                <name>development</name>
                <title>Development</title>
                <option>3</option>
            </item>
            <item ismenu="True">
                <name>internet</name>
                <title>Internet</title>
                <option>4</option>
            </item>
            <item ismenu="True">
                <name>games</name>
                <title>Games</title>
                <option>5</option>
            </item>
            <item ismenu="True">
                <name>Sys_Tools</name>
                <title>System Tools</title>
                <option>6</option>
            </item>
            <item ismenu="False">
                <name>back</name>
                <title>Back</title>
                <option>7</option>
                <commands sequentially="False">
                    <cmd>back</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>exit</name>
                <title>Exit</title>
                <option>8</option>
                <commands sequentially="False">
                    <cmd>exit</cmd>
                </commands>
            </item>
        </items>
    </menu>
    <menu>
        <name>office</name>
        <title>Office</title>
        <items>
            <item ismenu="False">
                <name>libreOffice_still</name>
                <title>Install LibreOffice still (more stable)</title>
                <option>1</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S libreoffice-still</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>libreOffice_fresh</name>
                <title>Install LibreOffice fresh (more updated)</title>
                <option>1</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S libreoffice-fresh</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>openOffice</name>
                <title>Install OpenOffice</title>
                <option>3</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S openoffice</cmd>
                </commands>
            </item>
			<item ismenu="False">
                <name>wps</name>
                <title>Install WPS</title>
                <option>4</option>
                <commands sequentially="False">
                    <cmd>yaourt -S wps-office</cmd>
                </commands>
            </item>
			<item ismenu="False">
                <name>calligra</name>
                <title>Install Calligra</title>
                <option>5</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S calligra</cmd>
                </commands>
            </item>
			<item ismenu="False">
                <name>back</name>
                <title>Back</title>
                <option>6</option>
                <commands sequentially="False">
                    <cmd>back</cmd>
                </commands>
            </item>
			<item ismenu="False">
                <name>exit</name>
                <title>Exit</title>
                <option>7</option>
                <commands sequentially="False">
                    <cmd>exit</cmd>
                </commands>
            </item>
        </items>
    </menu>
    <menu>
        <name>multimedia</name>
        <title>Multimedia</title>
        <items>
            <item ismenu="False">
                <name>vlc</name>
                <title>Install VLC</title>
                <option>1</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S vlc</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>vokoscreen</name>
                <title>Install Vokoscreen</title>
                <option>2</option>
                <commands sequentially="False">
                    <cmd>yaourt -S vokoscreen</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>audacity</name>
                <title>Install Audacity</title>
                <option>3</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S audacity</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>openshot</name>
                <title>Install OpenShot</title>
                <option>4</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S openshot</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>audacious</name>
                <title>Install Audacious</title>
                <option>5</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S audacious</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>smtube</name>
                <title>Install SMTube</title>
                <option>6</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S smtube</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>moc</name>
                <title>Install moc (Music Player form Terminal)</title>
                <option>7</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S moc</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>handbrake</name>
                <title>Install Handbrake</title>
                <option>8</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S handbrake</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>soundjuicer</name>
                <title>Install SoundJuicer</title>
                <option>9</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S sound-juicer</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>clipgrab</name>
                <title>Install Clipgrab</title>
                <option>10</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S clipgrab</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>mumble</name>
                <title>Install Mumble</title>
                <option>11</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S mumble</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>kodi</name>
                <title>Install KODI</title>
                <option>12</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S kodi</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>soundconverter</name>
                <title>Install SoundConverter (GTK)</title>
                <option>13</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S soundconverter</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>soundkonverter</name>
                <title>SoundKonverter (QT)</title>
                <option>14</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S soundkonverter</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>youtube-dl</name>
                <title>Install Youtube-dl</title>
                <option>15</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S youtube-dl</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>mpv</name>
                <title>Install mpv</title>
                <option>16</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S mpv</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>simplescreenrecorder</name>
                <title>Install simplescreenrecorder</title>
                <option>17</option>
                <commands sequentially="False">
                    <cmd>yaourt -S simplescreenrecorder</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>obs-studio</name>
                <title>Install OBS Studio</title>
                <option>18</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S obs-studio</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>totem</name>
                <title>Install Totem</title>
                <option>19</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S totem</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>back</name>
                <title>Back</title>
                <option>20</option>
                <commands sequentially="False">
                    <cmd>back</cmd>
                </commands>
            </item>
			<item ismenu="False">
                <name>exit</name>
                <title>Exit</title>
                <option>21</option>
                <commands sequentially="False">
                    <cmd>exit</cmd>
                </commands>
            </item>
        </items>
    </menu>
    <menu>
        <name>development</name>
        <title>Development</title>
        <items>
            <item ismenu="False">
                <name>geany</name>
                <title>Install Geany</title>
                <option>1</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S geany</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>sublime-text</name>
                <title>Install Sublime Text 2</title>
                <option>2</option>
                <commands sequentially="False">
                    <cmd>yaourt -S sublime-text</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>sublime-text-dev</name>
                <title>Install Sublime Text 3</title>
                <option>3</option>
                <commands sequentially="False">
                    <cmd>yaourt -S sublime-text-dev</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>gedit</name>
                <title>Install Gedit</title>
                <option>4</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S gedit</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>eclipse</name>
                <title>Install Eclipse</title>
                <option>5</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S eclipse</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>android-studio</name>
                <title>Install Android Studio</title>
                <option>6</option>
                <commands sequentially="False">
                    <cmd>yaourt -S android-studio</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>qtcreator</name>
                <title>Install QtCreator</title>
                <option>7</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S qtcreator</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>ninja-ide</name>
                <title>Install NinjaIDE</title>
                <option>8</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S ninja-ide</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>back</name>
                <title>Back</title>
                <option>9</option>
                <commands sequentially="False">
                    <cmd>back</cmd>
                </commands>
            </item>
			<item ismenu="False">
                <name>exit</name>
                <title>Exit</title>
                <option>10</option>
                <commands sequentially="False">
                    <cmd>exit</cmd>
                </commands>
            </item>
        </items>
    </menu>
    <menu>
        <name>internet</name>
        <title>Internet</title>
        <items>
            <item ismenu="False">
                <name>firefox</name>
                <title>Install Firefox</title>
                <option>1</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S firefox</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>google-chrome</name>
                <title>Install Google Chrome</title>
                <option>2</option>
                <commands sequentially="False">
                    <cmd>yaourt -S google-chrome</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name></name>
                <title>Install Vivaldi</title>
                <option>3</option>
                <commands sequentially="False">
                    <cmd>yaourt -S vivaldi</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>telegram32</name>
                <title>Install Telegram Desktop 32 bits</title>
                <option>4</option>
                <commands sequentially="False">
                    <cmd>wget -c https://tdesktop.com/linux32</cmd>
                    <cmd>tar xvf linux32</cmd>
                    <cmd>sudo mv Telegram /opt/telegram</cmd>
                    <cmd>rm -r linux32</cmd>
                    <cmd>./opt/telegram/Telegram</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>telegram</name>
                <title>Install Telegram Desktop 64 bits</title>
                <option>5</option>
                <commands sequentially="False">
                    <cmd>wget -c https://tdesktop.com/linux</cmd>
                    <cmd>tar xvf linux</cmd>
                    <cmd>sudo mv Telegram /opt/telegram</cmd>
                    <cmd>rm -r linux</cmd>
                    <cmd>./opt/telegram/Telegram</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>filezilla</name>
                <title>Install Filezilla</title>
                <option>6</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S filezilla</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>chromium</name>
                <title>Install Chromium</title>
                <option>7</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S chromium</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>qbittorrent</name>
                <title>Install qBittorrent</title>
                <option>8</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S qbittorrent</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>uget</name>
                <title>Install UGet</title>
                <option>9</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S uget</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>back</name>
                <title>Back</title>
                <option>10</option>
                <commands sequentially="False">
                    <cmd>back</cmd>
                </commands>
            </item>
			<item ismenu="False">
                <name>exit</name>
                <title>Exit</title>
                <option>11</option>
                <commands sequentially="False">
                    <cmd>exit</cmd>
                </commands>
            </item>
        </items>
    </menu>
    <menu>
        <name>games</name>
        <title>Games</title>
        <items>
            <item ismenu="False">
                <name>steam</name>
                <title>Install Steam</title>
                <option>1</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S steam-manjaro</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>vbam</name>
                <title>Install VisualBoyAdvance (Gameboy Advance)</title>
                <option>2</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S vbam-gtk</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>snes9x</name>
                <title>Install Snes9x (Super Nintendo)</title>
                <option>3</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S snes9x-gtk</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>pcsxr</name>
                <title>Install Pcsxr (Play Station)</title>
                <option>4</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S pcsxr</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>pcsx2</name>
                <title>Install Pcsx2 (Play Station 2)</title>
                <option>5</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S pcsx2</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>ppsspp</name>
                <title>Install PPSSPP (PSP)</title>
                <option>6</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S ppsspp</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>desmume</name>
                <title>Install DeSmuME (Nintendo DS)</title>
                <option>7</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S desmume</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>stella</name>
                <title>Install Stella (Atari)</title>
                <option>8</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S stella</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>fceux</name>
                <title>Install Fceux</title>
                <option>9</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S fceux</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>yabause-gtk</name>
                <title>Install Yabause(GTK)</title>
                <option>10</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S yabause-gtk</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>yabause-qt</name>
                <title>Install Yabause(QT)</title>
                <option>11</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S yabause-qt</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>back</name>
                <title>Back</title>
                <option>12</option>
                <commands sequentially="False">
                    <cmd>back</cmd>
                </commands>
            </item>
			<item ismenu="False">
                <name>exit</name>
                <title>Exit</title>
                <option>13</option>
                <commands sequentially="False">
                    <cmd>exit</cmd>
                </commands>
            </item>
        </items>
    </menu>
    <menu>
        <name>Sys_Tools</name>
        <title>System Tools</title>
        <items>
            <item ismenu="False">
                <name>terminator</name>
                <title>Install Terminator</title>
                <option>1</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S terminator</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>manjaro-settings-manager</name>
                <title>Install Manjaro Settings Manager (GTK)</title>
                <option>2</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S manjaro-settings-manager</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>manjaro-settings-manager-plasma</name>
                <title>Install Manjaro Settings Manager (Plasma5)</title>
                <option>3</option>
                <commands sequentially="True">
                    <cmd>sudo pacman -S manjaro-settings-manager</cmd>
                    <cmd>sudo pacman -S manjaro-settings-manager-kcm</cmd>
                    <cmd>sudo pacman -S manjaro-settings-manager-knotifier</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>virtualbox</name>
                <title>Install VirtualBox</title>
                <option>4</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S virtualbox</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>octopi</name>
                <title>Install Octopi (Pacman GUI)</title>
                <option>5</option>
                <commands sequentially="True">
                    <cmd>sudo pacman -S octopi</cmd>
                    <cmd>sudo pacman -S octopi-notifier</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>pamac</name>
                <title>Install Pamac (Pacman GUI)</title>
                <option>6</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S pamac</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>back</name>
                <title>Back</title>
                <option>7</option>
                <commands sequentially="False">
                    <cmd>back</cmd>
                </commands>
            </item>
			<item ismenu="False">
                <name>exit</name>
                <title>Exit</title>
                <option>8</option>
                <commands sequentially="False">
                    <cmd>exit</cmd>
                </commands>
            </item>
        </items>
    </menu>
    <menu>
        <name>des_wms</name>
        <title>DEs and WMs</title>
        <items>
            <item ismenu="True">
                <name>des</name>
                <title>Install DEs (Desktop Environments)</title>
                <option>1</option>
            </item>
            <item ismenu="True">
                <name>wms</name>
                <title>WMs (Window Managers)</title>
                <option>2</option>
            </item>
            <item ismenu="False">
                <name>back</name>
                <title>Back</title>
                <option>3</option>
                <commands sequentially="False">
                    <cmd>back</cmd>
                </commands>
            </item>
			<item ismenu="False">
                <name>exit</name>
                <title>Exit</title>
                <option>4</option>
                <commands sequentially="False">
                    <cmd>exit</cmd>
                </commands>
            </item>
        </items>
    </menu>
    <menu>
        <name>des</name>
        <title>DEs (Desktop Environments)</title>
        <items>
            <item ismenu="False">
                <name>xfce</name>
                <title>Install XFCE</title>
                <option>1</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S xfce4</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>gnome-shell</name>
                <title>Install Gnome-Shell</title>
                <option>2</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S gnome-shell</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>lxde</name>
                <title>Install LXDE</title>
                <option>3</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S lxde</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>plasma</name>
                <title>Install Plasma 5</title>
                <option>4</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S plasma5</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>kde</name>
                <title>Install KDE</title>
                <option>5</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S  kde4</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>back</name>
                <title>Back</title>
                <option>6</option>
                <commands sequentially="False">
                    <cmd>back</cmd>
                </commands>
            </item>
			<item ismenu="False">
                <name>exit</name>
                <title>Exit</title>
                <option>7</option>
                <commands sequentially="False">
                    <cmd>exit</cmd>
                </commands>
            </item>
        </items>
    </menu>
    <menu>
        <name>wms</name>
        <title>WMs (Window Managers)</title>
        <items>
            <item ismenu="False">
                <name>i3-wm</name>
                <title>Install i3-wm</title>
                <option>1</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S i3-wm</cmd>
                </commands>
            </item>
        </items>
        <items>
            <item ismenu="False">
                <name>openbox</name>
                <title>Install Openbox</title>
                <option>2</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S openbox</cmd>
                </commands>
            </item>
        </items>
        <items>
            <item ismenu="False">
                <name>fluxbox</name>
                <title>Install Fluxbox</title>
                <option>3</option>
                <commands sequentially="False">
                    <cmd>sudo pacman -S fluxbox</cmd>
                </commands>
            </item>
            <item ismenu="False">
                <name>back</name>
                <title>Back</title>
                <option>4</option>
                <commands sequentially="False">
                    <cmd>back</cmd>
                </commands>
            </item>
			<item ismenu="False">
                <name>exit</name>
                <title>Exit</title>
                <option>5</option>
                <commands sequentially="False">
                    <cmd>exit</cmd>
                </commands>
            </item>
        </items>
    </menu>
</menus>