main_menu,Update System,1
main_menu,Install applications,2
main_menu,List applications installed (not functional yet),3
main_menu,Uninstall applications (not functional yet),4
main_menu,Install DEs & WMs,5
main_menu,Personalization (not functional yet),6
main_menu,Update script,7
main_menu,Help,8
main_menu,Exit,9
menu_update_system,Refresh Mirrors and Keys,1
menu_update_system,Pacman repositories update,2
menu_update_system,AUR repositories update,3
menu_update_system,Update all system,4
menu_update_system,Update all system and refresh mirrors,5
menu_update_system,Clear cache and orphan packages,6
menu_update_system,See the content of mirrorlist file,7
menu_update_system,Back,8
menu_update_system,Exit,9
menu_install_app,Office,1
menu_install_app,Multimedia,2
menu_install_app,Development,3
menu_install_app,Internet,4
menu_install_app,Games,5
menu_install_app,System Tools,6
menu_install_app,Back,7
menu_install_app,Exit,8
Office,Install LibreOffice,1
Office,Install OpenOffice,2
Office,Install WPS,3
Office,Install Calligra,4
Office,Back,5
Office,Exit,6
Multimedia,Install VLC,1
Multimedia,Install Vokoscreen,2
Multimedia,Install Audacity,3
Multimedia,Install OpenShot,4
Multimedia,Install Audacious,5
Multimedia,Install SMTube,6
Multimedia,Install moc (Music Player form Terminal),7
Multimedia,Install Handbrake,8
Multimedia,Install SoundJuicer,9
Multimedia,Install Clipgrab,10
Multimedia,Install Mumble,11
Multimedia,Install KODI,12
Multimedia,Install SoundConverter (GTK),13
Multimedia,Install SoundKonverter (QT),14
Multimedia,Install Youtube-dl,15
Multimedia,Install mpv,16
Multimedia,Install simplescreenrecorder,17
Multimedia,Install OBS Studio,18
Multimedia,Install Totem,19
Multimedia,Back,20
Multimedia,Exit,21
Development,Install Geany,1
Development,Install Sublime Text 2,2
Development,Install Sublime Text 3,3
Development,Install Gedit,4
Development,Install Eclipse,5
Development,Install Android Studio,6
Development,Install QtCreator,7
Development,Install NinjaIDE,8
Development,Back,9
Development,Exit,10
Internet,Install Firefox,1
Internet,Install Google Chrome,2
Internet,Install Vivaldi,3
Internet,Install Telegram Desktop 32 bits,4
Internet,Install Telegram Desktop 64 bits,5
Internet,Install Filezilla,6
Internet,Install Chromium,7
Internet,Install qBittorrent,8
Internet,Install UGet,9
Internet,Back,10
Internet,Exit,11
Games,Install Steam,1
Games,Install VisualBoyAdvance (Gameboy Advance),2
Games,Install Snes9x (Super Nintendo),3
Games,Install Pcsxr (Play Station),4
Games,Install Pcsx2 (Play Station 2),5
Games,Install PPSSPP (PSP),6
Games,Install DeSmuME (Nintendo DS),7
Games,Install Stella (Atari),8
Games,Install Fceux,9
Games,Install Yabause(GTK),10
Games,Install Yabause(QT),11
Games,Back,12
Games,Exit,13
Sys_Tools,Install Terminator,1
Sys_Tools,Install Manjaro Settings Manager (GTK),2
Sys_Tools,Install Manjaro Settings Manager (Plasma5),3
Sys_Tools,Install VirtualBox,4
Sys_Tools,Install Octopi (Pacman GUI),5
Sys_Tools,Install Pamac (Pacman GUI),6
Sys_Tools,Back,7
Sys_Tools,Exit,8
DEs_WMs,DEs (Desktop Environments),1
DEs_WMs,WMs (Window Managers),2
DEs_WMs,Back,3
DEs_WMs,Exit,4
DEs,Install XFCE,1
DEs,Install Gnome-Shell,2
DEs,Install LXDE,3
DEs,Install Plasma 5,4
DEs,Install KDE,5
DEs,Back,6
DEs,Exit,7
WMs,Install i3-wm,1
WMs,Install Openbox,2
WMs,Install Fluxbox,3
WMs,Back,4
WMs,Go Home,5
